h1 {
    color: blue;
    text-align: center;
}
#btnOne{
    font-size: 20px;
    margin: 20px;
    position: absolute;
    transform: translate(-100%, 500%);
    
}
#btnBank{
    font-size: 20px;
        margin: 20px;
        position: absolute;
        transform: translate(-190%, 500%);
}
#btnWork{
    font-size: 20px;
        margin: 20px;
        position: absolute;
        transform: translate(-20%, 500%);
    
}
#pc{
    font-size: 20px;
        margin: 20px;
        position: absolute;
        transform: translate(50%, 100%);
}
#Balance{
        font-size: 20px;
        margin: 20px;
        position: absolute;
        transform: translate(-220%, 200%);

}

#Output {
    font-size: 20px;
    margin: 20px;
    position: absolute;
    transform: translate(-50%, 200%);

}

#image{
    float: left;
    width: 280px

}
#image{
    position: relative;
    width: "50px";
    height: "50px";
    float: left;
}

#btnLoan{
    font-size: 20px;
        margin: 20px;
        position: absolute;
        transform: translate(-100%, 500%);

}

#own {
    font-size: 20px;
    margin: 50px;
    position: absolute;
    transform: translate(-440%, 200%);
}

#OwnOutput {
    font-size: 20px;
    margin: 50px;
    position: absolute;
    transform: translate(-340%, 200%);
}